.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: var(--bg-main);
    background-image: url('/starry-nights.jpg');
    background-size: cover;
    background-position: center;
}