.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    min-height: 100vh;
    padding: .9rem;
    padding-top: 70px;
    background-image: linear-gradient(rgba(11, 15, 25, 0.85), rgba(11, 15, 25, 0.85)), url('/starry-nights.jpg');
    background-size: cover;
    background-position: center;
}

.name {
    font-size: 2.25rem;
    text-align: center;
    letter-spacing: -2%;
    margin: 0;
}

.brace {
  pointer-events: none;
  color: var(--accent);
}

.title {
    color: #9394A5;
    text-align: center;
    margin-bottom: 50px;
}

.aboutLink {
    background-color: #4830E6;
    color: #fff;
    border: 1px solid transparent;
    padding: 12px 32px;
    border-radius: 4px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.aboutLink:hover {
    background-color: transparent;
    border: 1px solid var(--accent);
    opacity: 1;
}

