.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    min-height: 100vh;
    padding: .9rem;
    padding-top: 70px;
    background-image: linear-gradient(rgba(11, 15, 25, 0.7), rgba(11, 15, 25, 0.7)), url('/starry-nights.jpg');
    background-size: cover;
    background-position: center;
}

.name {
    font-size: 2.25rem;
    flex-wrap: wrap;
    text-align: center;
    letter-spacing: -2%;
}

.title {
    color: #c3c4d3;
    text-align: center;
    margin-bottom: 50px;
}

.aboutLink {
    background-color: #4830E6;
    color: #fff;
    padding: 12px 32px;
    border-radius: 4px;
    
}

