.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: .9rem;
    border-bottom: 1px solid rgba(76, 76, 101, 0.40);
    background-color: rgba(11, 15, 25, 0.7);
    backdrop-filter: blur(8px);
}

.logo {
    font-size: 1.125rem;
}

.langBtn {
    font-size: 1rem;
    font-weight: 700;
}

.menutoggle,
.langBtn {
    background-color: transparent;
    border: none;
    color: #E2E3E7;
}

.navLinks {
    display: none;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--bg-card);
    text-align: center;
}

.navLinksOpen {
    display: flex;
    flex-direction: column;
}

.navLink {
    margin-block: 1.6rem;
    font-weight: 400;
    font-size: .9rem;
}



/* MEDIA QUERIES */

@media (min-width: 768px) {

    .nav {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        align-content: center;
    }

    .logo {
        order: 1;
    }

    .menutoggle {
        display: none;
    }

    .langBtn {
        justify-self: end;
        order: 3;
    }

    .navLinks {
        justify-self: center;
        display: flex;
        position: relative;
        top: 0;
        width: fit-content;
        gap: 30px;
        background-color: transparent;
        order: 2;
    }

    .navLink {
        list-style: none;
    }

}

@media (min-width: 1024px) {
    .nav {
        padding-inline: 2.2rem;
    }
}